<!-- /.row -->
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Dzisiejsza Sprzedaż

            </div>
            <div class="panel-body">
                <div id="TodaySales" style="height:300px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Zobacz także

            </div>
            <div class="panel-body">
                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Zyski miesięczne

            </div>
            <div class="panel-body">
                <div id="MonthlySummary" style="height:400px;"></div>
            </div>
        </div>
<<<<<<< .mine





































































































































=======
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
            </div>
            <div class="panel-body">
                <div id="morris-donut-chart"></div>
                <a href="#" class="btn btn-default btn-block">Szczegóły</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="chat-panel panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>
                Chat
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu slidedown">
                        <li>
                            <a href="#">
                                <i class="fa fa-refresh fa-fw"></i> Refresh
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-check-circle fa-fw"></i> Available
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-times fa-fw"></i> Busy
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-clock-o fa-fw"></i> Away
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out fa-fw"></i> Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="chat">
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Jack Sparrow</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                </small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                    <li class="right clearfix">
                        <span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <small class=" text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 13 mins ago
                                </small>
                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Jack Sparrow</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 14 mins ago
                                </small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                    <li class="right clearfix">
                        <span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <small class=" text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                                </small>
                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btn-chat">
                            Send
                        </button>
                    </span>
                </div>
            </div>
            <!-- /.panel-footer -->
        </div>
        <!-- /.panel .chat-panel -->
>>>>>>> .theirs
    </div>
</div>

<script>
    function getPromise(url) {
        return new Promise(function(resolve, reject) {
            $.get(url, function(data){
                resolve(data);
            });
        });
    }

    function toDate(date) {
        var a = new Date(parseInt(date.substr(6)));
        return a.getTime();
    }

    function toHour(date) {
        var a = new Date(parseInt(date.substr(6)));
        return a.getTime();
    }

    var today = new Date();
    today.setHours(0, 0, 0, 0);
    $(function () {
        getPromise("/Chart/SalesToday").then(function (dane) {
            var later = new Date();
            later.setTime(today.getTime() + (1 * 24 * 60 * 60 * 1000))
            var serier = [{
                yAxis: 0,
                name: "Sprzedaż",
                data: _.map(dane, function (i) { return [toHour(i.Date), i.Count]; })
            }];
            console.log(serier);
            $('#TodaySales').highcharts({
                title: {
                    text: ''
                },
                subtitle :{
                    text: ''
                },
                xAxis: {
                    title: {
                        text: 'Godzina'
                    },
                    type: 'datetime',
                    tickInterval: 3600 * 1000,
                    min: today.getTime(),
                    max: later.getTime()
                },
                yAxis: [{
                    title: {
                        text: 'Sprzedaż'
                    },
                    min: 0
                }],
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>'
                },
                series: serier
            });
        });

        Promise.all([getPromise("/Chart/EarningsDaily?days=31"), getPromise("/Chart/ExpensesDaily?days=31")]).then(function (dane) {
            var start = new Date();
            start.setTime(today.getTime() - (31 * 24 * 60 * 60 * 1000));
            var serier = [{
                yAxis: 0,
                name: 'Rozchód',
                data: _.map(dane[0], function (i) { return [toDate(i.Date), i.Count]; })
            }, {
                yAxis: 1,
                name: 'Przychód',
                data: _.map(dane[1], function (i) { return [toDate(i.Date), i.Count]; })
            }];
            console.log(serier);
            $('#MonthlySummary').highcharts({
                title: {
                    text: ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    type: 'datetime',
                    tickInterval: 24 * 3600 * 1000,
                    min: start.getTime(),
                    max: today.getTime(),
                    dateTimeLabelFormats: { // don't display the dummy year
                        month: '%e. %b',
                        year: '%b'
                    },
                    title: {
                        text: 'Data'
                    }
                },
                yAxis: [{
                    title: {
                        text: 'Rozchód'
                    },
                    min: 0
                },
                {
                    title: {
                        text: 'Przychód'
                    },
                    min: 0
                }],
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x:%e. %b}: {point.y:.2f}'
                },

                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        }
                    }
                },
                series: serier
            });
        });
    });
</script>