@{
    ViewBag.Title = "Lista użytkowników";
}

<h4>@ViewBag.Title</h4>
@section PanelName
{

}
@section Panel
{


<ul class="list-group">
    @foreach (var user in ViewBag.Users) {
        <li class="list-group-item">
            <span>
                <i class="fa fa-user"></i>
                @user.UserName
            </span>
            @*<span class="pull-right">
                @if (!user.UserName.Contains("admin")) {
                    <a href="@Url.Action("Delete", "Users", new { Id = user.Id })" data-username="@user.UserName" data-toggle="modal" class="delete-user"><i class="fa fa-remove"></i></a>     
                }
            </span>*@
        </li>
    }
</ul>

}
@section PanelFooter
{
    <p>  </p>
}
<script>
    $('.delete-user').click(function () {
        var username = $(this).attr("data-username");
        return confirm("Czy na pewno chcesz usunąć użytkownika " + username + "?");
    })
</script>
